<h2>Nueva Número de trabajadores a facturar</h2>

<form (submit)="guardarCambios()" [formGroup]="form">

    <mat-form-field appearance="outline" >        
        <mat-label>Fecha</mat-label>
        <input type="date" [formControl]="form.controls.fecha" matInput/>
    </mat-form-field>

    <mat-form-field appearance="outline" >        
        <mat-label>Num.Trabajadores</mat-label>
        <input [formControl]="form.controls.numeroTrabajadores" matInput/>
    </mat-form-field>
    <div>
        <button type="submit" mat-flat-button>Guardar Cambios</button>
        <a mat-stroked-button routerLink="/empresas/editar/{{id}}">Cancelar</a>
    </div>


</form>

